
h1 {
    text-align: center;
}

/* Daily quiz buttons */
.Monday{  
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Tuesday {  
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Wednesday {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Thursday {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Friday{
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}

/*Week by week buttons */


.week1 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week2 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week3 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week4 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week5 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week6 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week7 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week8 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week9 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week10 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week11 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week12 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week13 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week14 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week15 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week16 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}


/* Week recap Buttons! */

.week1R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week2R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week3R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week4R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week5R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week6R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week7R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week8R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week9R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week10R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week11R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week12R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week13R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week14R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week15R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week16R {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}









#EachWeek {
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    gap: 10px 25px;
}








.week {
    background: linear-gradient(to bottom, #05bcf3 5%, #003aa5 100%);
    background-color: #6d6d6d;
    color: #ffffff;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
    text-align: center;
    
}
.weekSubmit {
    background: linear-gradient(to bottom, #05bcf3 5%, #003aa5 100%);
    background-color: #6d6d6d;
    color: #ffffff;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
    text-align: center;
}



.week:hover {


    background: linear-gradient(to bottom, rgb(206, 1, 233) 5%, #80006e 100%);
    
}



