.Monday{  
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Tuesday {  
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Wednesday {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Thursday {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.Friday{
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week1 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week2 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week3 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week4 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week5 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week6 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week7 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week8 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week9 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week10 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week11 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week12 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week13 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week14 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week15 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}
.week16 {
    background: linear-gradient(to bottom, #6d6d6d 5%, #535353 100%);
    background-color: #6d6d6d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 15px;
}