h1 {
  text-align: center;
}

#EachWeek {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
  gap: 10px 25px;
}

.week {
  background: linear-gradient(to bottom, #05bcf3 5%, #003aa5 100%);
  background-color: #6d6d6d;
  color: #ffffff;
  border-radius: 14px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 28px;
  padding: 10px 15px;
  text-align: center;
}

.weekSubmit {
  background: linear-gradient(to bottom, #05bcf3 5%, #003aa5 100%);
  background-color: #6d6d6d;
  color: #ffffff;
  border-radius: 14px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 28px;
  padding: 10px 15px;
  text-align: center;
}

.week:hover {
  background: linear-gradient(to bottom, rgb(206, 1, 233) 5%, #80006e 100%);
}
