
#quizzInput {
    display: none;

/* 

    display: flex;
    flex-direction: column;

    align-items: center; */



    
    width: 95%;
}


#quizzNumberSelect {
    display: none;
}


#slider {
    width: 30%;
}

















